main {
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('{{assets("storage/assets/imgForm/FONDO1.png")}}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
    font-family:'Roboto', sans-serif;
  }
  
  .inside {
    background-image: url(/imgForm/FONDO1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto; /* Adjust height as needed */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .banner {
    background-color: #f0f0f0;
  }
  
  .banner.auto-height {
    height: auto !important; /* Override height to auto when scroll position is at the top */
  }
  
  .banner.fixed-height {
    height: 200px; /* Initial height */
    min-height: 100px; /* Minimum height */
  }
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a6174b;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 80px; /* Set minimum height */
    max-height: 200px; /* Set maximum height */
    overflow: hidden; /* Hide overflow content */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  #navbar img {
    width: auto; /* Take entire width of navbar */
    height: 100%;
  }
  
  .me-10 {
    margin-right: 150px;
  }
  
  .boton {
    background: #c24070ea;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  
  .contenido {
    height: 1000px;
  }
  
  .foto {
    text-align: center;
  }
  
  .foto img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .foto img {
      max-width: 90%; /* Adjust the percentage as needed */
    }
  }
  
  @keyframes slide {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 20px 0;
    background: transparent;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #a6174b);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #a6174b);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: slide 30s linear infinite; /* Adjust duration and timing function as needed */
  }
  
  .logos-slide img {
    height: 100px;
    margin: 0 40px; /* Adjust margin as needed */
  }
  
  .responsive-iframe {
    width: 100%;
    height: 300px; /* Adjust height as needed */
  }
  /* 
    Desarrolladores de Proyecto:
      Javier Johan Keme Correa 
      Jezer Samuel Chimal Ruiz
      Rafael Buitron Hau
  */
  